DISCORD_TOKEN=
DISCORD_OWNER_ID=
DISCORD_GUILD_ID=

STEAM_USERNAME=
STEAM_PASSWORD=

DATABASE_PATH=./data/idle-steam.sqlite
LOG_LEVEL=info
DRY_RUN=false
STEAM_PLAY_SCAN_INTERVAL_SECONDS=60

PUID=1000
PGID=1000
